*{
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}

.title, h1{
    color: #FFC65C;
    font-family: Rye;
}

h1, h2, h3{
    color: #FFC65C;
}

p{
    color: #FEFFDA;
}

#container {
    width: 600px;
    height: auto;
    position: relative;
    background: rgb(216, 45, 74);
    margin-right: auto;
    margin-left: auto;
    padding: 20px;
    border-style: solid;
    border-radius: 1px;
    border-width: 1px;
    border-color: palegoldenrod;
  }

body{
    background-color: rgb(175, 47, 47);
    text-align: center;
    color: burlywood;
}

.flex-container {
    display: flex;
    flex-wrap: nowrap;
  }
  
  .flex-container > div {
    background-color: pink;
    width: 109px;
    height: 100px;
    margin: 5px;
    text-align: center;
    line-height: 7px;
    font-size: 3px;
  }

.logo{
    width: 100px;
    height: 100px;
    margin-top: 10px;
    float: left;
}



